@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');

.playfair-display-uniquifier> {
    font-family: 'PlayFair Display', serif;
    font-optical-sizing: auto;
    font-weight: 400;

}

body {
    font-family: "Playfair Display", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

h1 {
    background-color: black;
    color: gold;
    padding: 5px;
    text-align: center;
    height: min-content;
}

.navbar ul {
    background-color: hsl(0, 0%, 0%);
    padding: 0%;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: gold;
    text-decoration: none;
    padding: 20px;
    display: flex;
    overflow: hidden;
    font-size: large;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 0%);
    color: gold
}

.navbar li {
    float: left;
}

.main-index img {
    width: 100%;
}

.main-index h2 {
    color: gold;
    text-align: center;
}

.main-index h3 {
    color: white;
    text-align: center;
    padding: 0px;
}

.main-index h4 {
    color: gold;
    text-align: center;
}

.firma {
    color: rgb(255, 255, 255);
    text-align: end;
    margin-right: 20px;
    font-size: large;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    gap: 15px;
    padding: 20px;

    background-color: #000000;
    /* Ajusta el color de fondo según prefieras */
}

.titulo {
    grid-column: 1 / -1;
    color: white;
    font-size: xx-large;
    text-align: center;
}

.contenido-footer {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    width: 100%;
}

.redes-section {
    display: grid;
    justify-items: center;
    text-align: center;
    color: white;
    padding: 0px 0px 0px 0px;
    gap: 20px;
}

.sociales {
    display: grid;
    grid-auto-flow: column;
    /* Coloca los elementos en fila */
    gap: 10px;
}

.ubicacion-section {
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: x-large;
    color: white;
}

.mapa {
    margin-top: 10px;
    width: 350px;
    height: 300px;
}

.logo-section {
    grid-column: 1 / -1;
    /* Ocupa todas las columnas */
    display: grid;
    justify-items: center;
    gap: 10px;
}

.flecha {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
}



/* CERVEZAS */
.main-cervezas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-clasicas {
    padding: 50px 0px 0px 0px;
}

.section-clasicas div p {
    color: white;
    font-size: xx-large
}

.clasicas {
    padding: 10px 0px 0px 5px;
    color: gold;
    width: 35%;
    font-size: x-large;
}

.section-premiums {
    padding: 100px 0px 0px 0px;
}

.section-premiums div p {
    color: white;
    font-size: xx-large;
}

.premium {
    color: gold;
    width: 35%;
    padding: 10px 0px 0px 5px;
    font-size: x-large;
}

.section-especiales {
    padding: 100px 0px 0px 0px;
}

.section-especiales div p {
    color: white;
    font-size: xx-large;
}

.especiales {
    color: gold;
    width: 35%;
    padding: 10px 0px 0px 5px;
    font-size: x-large;
}

.happy img {
    display: flex;
    flex-direction: flex-end;
}

/* TRAGOS CLASICOS */

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 50px 10px 30px;
}

.cards h2 {
    color: white;
    font-size: large;
    padding: 10px;
    text-align: center;
}

.cards img {
    height: 500px;
    box-sizing: border-box;
    width: max-content;
}

.cards h3 {
    color: gold;
    font-size: medium;
    text-align: center;
}

.main-comida {
    display: flex;
    justify-content: space-between;
}

.tablas h2 {
    color: gold;
    padding: 50px 0px 0px 0px;
    font-size: xx-large;
}

.tablas h3 {
    color: gold;
    padding: 6px;
    text-align: left;

}

.tablas p {
    padding: 5px;
    color: white;
    font-size: large;
}

.compartir h2 {
    color: gold;
    padding: 50px 0px 0px 0px;
    font-size: xx-large;
    text-align: right;
}

.compartir h3 {
    color: gold;
    padding: 10px;
    font-size: x-large;
    direction: rtl;
}

.compartir p {
    color: white;
    font-size: large;
    direction: rtl;
}
.card {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
    gap: 25px;
    align-items: center;
    width: 100%;
}

.card-title {
    color: gold;
}

.card-text {
    color: white;

}

.card-img-top {
    width: 90%;
}
