footer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    gap: 15px;
    padding: 20px;
}

.titulo {
    grid-column: 1 / -1;
    color: $color-texto; // Usamos el blanco terciario
    font-size: xx-large;
    text-align: center;
}

.contenido-footer {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    width: 100%;
}

.redes-section {
    display: grid;
    justify-items: center;
    text-align: center;
    color: $color-texto; // Usamos el blanco terciario
    padding: 0px 0px 0px 0px;
    gap: 20px;
}

.sociales {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.ubicacion-section {
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: x-large;
    color: $color-texto; // Usamos el blanco terciario
}

.mapa {
    margin-top: 10px;
    width: 350px;
    height: 300px;
}

.logo-section {
    grid-column: 1 / -1;
    display: grid;
    justify-items: center;
    gap: 10px;
}

.flecha {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
}
