.main-index {
  img {
    width: 100%;
  }

  h2 {
    color: $color-secundario;
    text-align: center;
  }

  h3 {
    color: $color-texto;
    text-align: center;
    padding: 0;
  }

  h4 {
    color: $color-secundario;
    text-align: center;
  }
}

.firma {
  color: $color-texto;
  text-align: end;
  margin-right: 20px;
  font-size: $font-size-grande;
}
