// Estilos generales de la navbar y otros elementos
.navbar ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0;
    overflow: hidden;
  
    li {
      margin-bottom: 10px;
    }
  
    a {
      color: $color-secundario;
      text-decoration: none;
      display: flex;
      font-size: $font-size-grande;
    }
  }
  
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
  
    img {
      width: 100%;
      height: auto;
    }
  
    div h2,
    h3 {
      text-align: center;
    }
  }
  
  // Media query para pantallas con max-width: 1200px
  @media screen and (max-width: 1200px) {
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .flecha {
      display: none;
    }
  
    .card {
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
  
      .card-img-top {
        width: 80%;
      }
  
      .card-title {
        font-size: 1.25rem;
      }
  
      .card-text {
        font-size: 0.875rem;
      }
    }
  }
  
  // Media query para pantallas con max-width: 760px
  @media screen and (max-width: 760px) {
    .navbar ul {
      padding: 0;
    }
  
    .flecha {
      display: none;
    }
  
    .navbar ul li {
      font-size: 14px;
    }
  
    .cards {
      img {
        width: 100%;
      }
  
      div h2,
      h3 {
        text-align: center;
      }
    }
  
    .pie {
      text-align: center;
    }
  
    .contenido-footer,
    .logo-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .sociales img {
      width: 70%;
    }
  
    .mapa {
      width: 50%;
    }
  
    .card {
      text-align: center;
  
      .card-img-top {
        width: 50%;
      }
    }
  }
  
  // Media query para pantallas con max-width: 480px
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 24px;
    }
  
    .cards {
      gap: 15px;
    }
  
    .tragosc .cards div h2,
    h3 {
      font-size: 14px;
    }
  
    .pie h2 {
      font-size: 18px;
    }
  
    .ubicacion-section p {
      font-size: 14px;
    }
  
    .logo-section img {
      width: 50%;
    }
  
    .flecha {
      display: none;
    }
  
    .card {
      gap: 15px;
  
      .card-title,
      .card-text {
        font-size: 12px;
      }
    }
  }
  