// _variables.scss

// Colores
$color-principal: #000000;  // Color principal (negro)
$color-secundario: #FFD700;  // Color dorado (puede cambiarse)
$color-fondo: #1a1a1a;  // Fondo oscuro
$color-texto: #FFFFFF;  // Color blanco para el texto
 
$fuente-principal: 'Playfair Display', serif;

// Tamaños
$font-size-grande:large;
